@charset "utf-8";

//Importing all components styles
@import "./header_searchDesktop.scss";
@import "./header_search-bar.scss";
@import "./header_shopping-button.scss";
@import "./product-filter.scss";
