@charset "utf-8";

//Importing all components styles
@import "./Headers/header_searchDesktop.scss";
@import "./Headers//header_search-bar.scss";
@import "./Headers//header_shopping-button.scss";
@import "./product-filter.scss";
@import "./productCard.scss";
@import "./Headers/logoElement.scss";
@import "./Headers/header.scss";
@import "./Headers/header_menu.scss";
