@charset "utf-8";
$logo-width: 132px;
$shopping-button-width: 140px;
$browse-button-width: 140px;
$margin-right: 25px;

.row {
  margin-right: 6.5% !important;
  margin-left: 6.5% !important;
}

.header__desktop {
  height: 48px;
  padding: 0;
  margin-top: 32px;
  align-items: center;
  &-logo {
    width: $logo-width;
    margin-right: $margin-right;
    img {
      margin: 0;
      width: 132px;
    }
  }
  &-search {
    height: 48px;
    width: calc(
      100% - #{$shopping-button-width} - #{$logo-width} - #{$browse-button-width} -
        #{$margin-right * 2}
    );
    &-button {
      background-color: $primary;
      width: 150px;
      color: $grey-apple;
      font-weight: bold;
      height: 48px;
      border-radius: 50px 0px 0px 50px;
      padding: 0px 15px 0px 0px;
      box-shadow: 0px;
      border: none;
    }
    &-input {
      width: calc(100% - 165px);
      height: 48px;
      border-radius: 0px 50px 50px 0px;
      border: none;
      text-indent: 20px;
    }
    &-input::placeholder {
      color: $grey-text;
    }
    &-input:focus {
      outline: none;
    }
  }
  &-browse {
    background-color: $bread;
    margin-right: $margin-right;
    width: $browse-button-width;
    border: none;
    height: 48px;
  }
  &-shopping_list {
    width: $shopping-button-width;
    background-color: $primary;
    color: $grey-apple;
    height: 48px;
    text-align: center;
    border-radius: 5px;
    line-height: 48px;
    vertical-align: middle;
  }
}
