@charset "utf-8";
$logo-width: 132px;
$shopping-button-width: 140px;
$browse-button-width: 140px;
$margin-right: 25px;

.row {
  margin-right: 6.5% !important;
  margin-left: 6.5% !important;
}

.header__desktop {
  height: 48px;
  padding: 0;
  margin-top: 32px;
  align-items: center;
  &-logo {
    width: $logo-width;
    margin-right: $margin-right;
    img {
      margin: 0;
      width: 132px;
    }
  }
  &-search {
    height: 48px;
    width: calc(
      100% - #{$shopping-button-width} - #{$logo-width} - #{$browse-button-width} -
        #{$margin-right * 2}
    );
  }
  &-browse {
    background-color: $bread;
    margin-right: $margin-right;
    width: $browse-button-width;
    border: none;
    height: 48px;
  }
  &-shopping_list {
    width: $shopping-button-width;
    background-color: $primary;
    color: $grey-apple;
    height: 48px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &-icon-wrapper {
      width: calc(#{$shopping-button-width}/ 3);
      line-height: 48px;
    }
    &-text-wrapper {
      text-align: start !important;
      width: calc(2 *#{$shopping-button-width}/ 3);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      line-height: 37px;
    }
    &-text-compare {
      font-weight: bold;
      font-size: 0.9rem;
    }
    &-text-products {
      font-weight: 500;
      margin-top: -22px;
      font-size: 0.7rem;
    }
  }
}
