.product-filter {
  text-align: left;
  margin-right: 20px;
  font-size: 0.8rem;
  width: 380px;
  height: 600px;
  color: $grey-text;
  font-weight: bold;

  &-card {
    box-sizing: border-box;
    color: #11240d;
    margin-top: 15px;
    font-size: 1.1rem;
    padding: 30px 25px;
    width: 100%;
    border: 1px solid #fcf7e7;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li div {
      display: block;
      padding: 8px 0px;
      text-decoration: none;
      font-weight: 500 !important;
    }
    //   li a:hover {
    //     background-color: #555;
    //     color: white;
    //   }
    &-faricon {
      float: right;
      color: $primary;
    }
  }
}
