.my-supplies__page {
  box-sizing: border-box;
  &-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
}
