.pricecomparer__page {
  position: relative;
  top: 70px;
  max-width: 90%;
  text-align: left;
  margin: 0 auto;

  &-wrapper after {
    display: table;
    clear: both;
  }
  &-filter-column {
    text-align: left;
    margin-right: 20px;
    font-size: 0.8rem;
    width: 380px;
    height: 600px;
    color: $grey-text;
    font-weight: bold;

    &-card {
      box-sizing: border-box;
      color: #11240d;
      margin-top: 15px;
      font-size: 1.1rem;
      padding: 30px 25px;
      width: 341px;
      border: 1px solid #fcf7e7;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.5);

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      li div {
        display: block;
        padding: 8px 0px;
        text-decoration: none;
        font-weight: 500 !important;
      }
      //   li a:hover {
      //     background-color: #555;
      //     color: white;
      //   }
      &-faricon {
        float: right;
        color: $primary;
      }
    }
  }
  &-product-column {
    font-size: 0.8rem;
    text-align: left;
    width: calc(100% - 400px);
    height: 600px;
    color: $grey-text;
    font-weight: bold;
  }
}
