.pricecomparer__page {
  position: relative;
  top: 70px;
  max-width: 90%;
  text-align: left;
  margin: 0 auto;

  &-wrapper after {
    display: table;
    clear: both;
  }
  &-product-column {
    font-size: 0.8rem;
    text-align: left;
    width: calc(100% - 400px);
    height: 600px;
    color: $grey-text;
    font-weight: bold;
  }
}

.grid-container {
  margin-top: 15px;
  text-align: left;
}
