@charset "utf-8";

$shopping-button-width: 140px;
$browse-button-width: 140px;
$margin-right: 25px;
$logo-width: 132px;
.row {
  margin-right: 6.5% !important;
  margin-left: 6.5% !important;
}

.header__desktop {
  width: 90%;
  &-search {
    height: 48px;
    width: calc(
      100% - #{$shopping-button-width} - #{$logo-width} - #{$browse-button-width} -
        #{$margin-right * 2}
    );
  }
  &-browse {
    background-color: $bread;
    margin-right: $margin-right;
    width: $browse-button-width;
    border: none;
    height: 48px;
  }
}
