header {
  margin: 0;
  display: block;
  font-family: $header-font-family;
  margin-right: 6.5% !important;
  margin-left: 6.5% !important;
  height: $header-height;
  padding: 0;
  margin-top: 32px;
  align-items: center;
}
body {
  margin: 0;
  background-color: $background-color !important;
  font-family: $body-font-family !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: $grey-text !important;
}
