@charset "utf-8";

// Lato
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* -- Bamboo Theme --*/

//-- UX NEXT DIGITAL
$green: #18aa4d;
$green-deep: #11240d;
$green-dark: #337017;
$green-medium: #4a9e22;
$green-light: #1fd862;
$green-white: #d2f7df;

//--GRAY
$grey-apple: #f3f2f8;
$grey-light: #afafaf;
$grey-text: #7f7f7f;
$grey-dark: #3f3f3f;

// -- MISCELANEUS
$raspberry: #b31919;
$bread: #fcf7e7;

//-- UX PRIMARY COLORS 100 Light -> 600 Dark
$primary: $green;
$primary-100: $green-white;
$primary-200: $green-light;
$primary-300: $green;
$primary-400: $green-medium;
$primary-500: $green-dark;
$primary-900: $green-deep;

$background-color: $bread;

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

$header-height: 48px;
/* ---- TEXT THEME SETTINGS ---*/
$body-font-family: "Inter", sans-serif;
$header-font-family: "Inter", sans-serif;
$paragraph-font-family: "Inter", sans-serif;
$logo-font-family: "Inter", sans-serif;

/* ---- bootstrap 4 MEDIA QUERIES ---*/
$extra-small-grid: 36rem; // < 576px
$small-grid: 36rem; // >= 576px sm
$medium-grid: 48rem; // >= 768px md
$large-grid: 62rem; // >= 992px lg
$extra-large-grid: 75rem; // >= 1200px xl
